@{
    ViewBag.Title = "About Gradebook";
}
@{
    ViewBag.Intro = "As part of my final project, I have built a .NET Framework MVC 5 Web Application using n-tier architecture inspired by a real-world concept.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Intro</h3>

@*<h3>Features:</h3>
<ul>
    <li>Add, update, and delete students, courses, assignments, and grades.</li>
    <li>Course will be calculated by assignment average.</li>
    <li></li>*@
</ul>
