@{
    ViewBag.Title = "Contact Me";
}
@{
    ViewBag.Name = "Ashley Lawrence";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Name</h3>

<address>
    <abbr title="Phone">P:</abbr>
    765-620-0867<br />
    <abbr title="E-Mail">E:</abbr>
    ashleylawrence836@yahoo.com<br />
    Local to Indianapolis, IN
</address>
